[MESSAGES CONTROL]

# Disable specific messages
disable=missing-module-docstring

# Set good names.
good-names=i,j,x,y,z,s,a,b,c,d,e,v,vs,xy,r,g,b,al,ks,kd,f,t,f0,f1,f2,f3,f4,f5,f6,f7,y0

[DESIGN]

# Maximum number of arguments for function / method
max-args=10

[SIMILARITIES]

# Minimum lines number of a similarity.
min-similarity-lines=7
